@charset "UTF-8";
html {
  background-color: #DED8D4; }

body {
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll; }

body::after {
  /*background: url("../../img/layout/slide-bg.png");*/
  content: "";
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

a {
  text-decoration: none; }

.hori-scroll {
  display: inline-block; }

.black-bg {
  background-color: rgba(0, 0, 0, 0.4); }

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'titleFont';
  src: local("yuweif.woff"), url("../font/yuweif.woff"); }

@font-face {
  font-family: 'HanWangWCL06';
  src: local("HanWangWCL06.woff"), url("../font/HanWangWCL06.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontAwesome';
  src: local("fontAwesome.otf"), url("../font/fontAwesome.otf"); }

@font-face {
    font-family: 'contentFont';
    src: local("yuweif.woff"), url("../font/contentFont.woff"); }

h1, h2, h4 {
  font-family: 'titleFont', Helvetica, Arial, sans-serif; }

p {
  font-family: 'Arial',Helvetica; }

h4 {
    font-size: 1.8em; }

h3, h4, h5 {
  font-size: 1.5em; }

button, btn {
  font-family: 'titleFont', Helvetica, Arial, sans-serif;
}

li {
  font-family: 'HanWangWCL06',times;
  font-weight: normal;
  font-size: 12pt; }

.s3_m1_title {
  padding-left: 20px;
  margin-bottom: -4px;
  color: #FF3108;
  font-size: 15px;
}

.intro-text {
    padding:20px 20px 0 30px;
    max-width: 600px;
    color:white;
  position: relative;
  p{
      min-width: 300px !important;
  }
}
.line{ margin-left: 100%; overflow:hidden;height:17px;color:white;}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog > div {
  width: 80vw;
  height: 80vh;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); }
