 <section>
  <div class="main-intro" >
    <div class="blink"><object class="logo-property fade-in logo" type="image/svg+xml" data="img/logo/logo-F1.svg" width="550" height="200">Your browser does not support SVG</object></div>
<a href="#/intro">
     <button class="fade-in start myButton_light" input type="submit">开始</button></a>
  </div>

  <video autoplay="" loop="" poster="img/DJI_0028.JPG" id="bgvid" class="bg-responsive ">
      <source src="source/start_vid_small.mp4" type="video/mp4">
  </video>
  <audio id="audio0">
                    <!--                add back autoplay!-->
        <source src="media/scene1/audio/0.ogg" type="audio/ogg">
  </audio>
</section>
