<section class="scroll-page">
    <button id="chap2_start" onclick="playAudio(0)">开始介绍</button>
      <div class ="scene-title">
            <div id="titlebox-top"><img src="img/UI/titlebox-top.png"></div>
            <div class ="scene-title-box title">
              <h4 style="margin-top:9px;">第二章</h4>
              <h2 class="scene-title-lgword" style="font-size:1.9em;margin-top:-15px;">梁思成｜發現佛光寺</h2>
          </div>
          <div id="titlebox-bottom"><img src="img/UI/titlebox-bottom.png"></div>
      </div>

  <ul class="scroll-list fade-in content">
      <li class ="hori-scroll scene-sub-title fade-in">
          <div class="sub-title-line"></div>
           <h1>營造學社成立背景</h1>
      </li>
      <!-- the first paragraph -->
      <div class="scroll-each hori-scroll hideme">
          <audio controls id="audio_0" onended="playAudio(1)">
              <source src="media/scene2/audio/001.mp3"></source>
          </audio>
          <div class="paragraph">
            <p> 佛光寺东大殿是我国古建筑类文化遗产最珍贵的一处，
              其自身的文物价值与其传奇的发现过程，对推动中国建筑
              史学的发展具有重大意义。中国建筑史学开端，发轫
        <br><b>于一本书：《营造法式》，<br>
          一个机构：中国营造学社，<br>一位学者：梁思成</b>。</p></div>
 </div>
 <!--- ++++++++++++++++++++++++++++++++++ number 1 ++++++++++++++++++++++++++++++++++++++++++++  -->
    <li class="scroll-each hori-scroll hideme">
        <div class="left-chapscroll">
            <audio controls class="narration" id="audio_1" onended="playAudio(1)">
                <source src=""></source>
            </audio>
            <h2>一本书</h2>
                <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
            </div>
            <div class="scroll-img">
                <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
                <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
                <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
                <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
            </div>
    </li>

<!--- ++++++++++++++++++++++++++++++++++ number 2 ++++++++++++++++++++++++++++++++++++++++++++  -->
   <li class="scroll-each hori-scroll hideme">
       <div class="left-chapscroll">
           <audio controls class="narration" id="audio_1" onended="playAudio(1)">
               <source src=""></source>
           </audio>

               <p> 1919年，前北洋政府交通总长、内务总长朱启钤先生在江南图书馆发现了宋代李诫的《营造法式》丁氏抄本，便委托商务印书馆以石印本印行。1925年陶湘以此丁本《营造法式》与《四库全书》文渊、文溯、文津各本校勘后，按宋残叶版式和大小刻版印行，世称为仿宋陶湘本，即陶本。</p>
           </div>
           <div class="scroll-img">
               <img class="scene-img" src ="dist/img/scene/scene2/图8.jpg"></img>
               <img class="scene-img" src ="dist/img/scene/scene2/图9.jpg"></img>
               <img class="scene-img" src ="dist/img/scene/scene2/图10.jpg"></img>
           </div>
   </li>
<!--- ++++++++++++++++++++++++++++++++++ number 3 ++++++++++++++++++++++++++++++++++++++++++++  -->
  <li class="scroll-each hori-scroll hideme">
      <div class="left-chapscroll">
          <audio controls class="narration" id="audio_1" onended="playAudio(1)">
              <source src=""></source>
          </audio>
          <h2>一个机构</h2>
              <p> 1930年，朱启钤成立了“中国营造学社”，聘请从美国学成归来的梁思成先生担任法式组主任。梁思成先生将中国文献学与西方建筑测绘调查学相结合，初步形成了中国建筑史学研究方法。学社从事古代建筑实例的调查、研究和测绘，以及文献资料搜集、整理和研究，编辑出版《中国营造学社汇刊》。营造学社不仅在学术上为后人留下了珍贵的资料，同时也培养了一大批优秀的建筑专业人才。梁思成、林徽因、刘敦桢、罗哲文等许多建筑学界的重量级人物均出自中国营造学社门下。</p>
          </div>
          <div class="scroll-img">
              <img class="scene-img" src ="dist/img/scene/scene2/图11.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图13.林先生测绘.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图14.调查独乐寺时的梁思成.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图15.jpg"></img>
          </div>
  </li>
<!--- ++++++++++++++++++++++++++++++++++ number 4 ++++++++++++++++++++++++++++++++++++++++++++  -->
 <li class="scroll-each hori-scroll hideme">
     <div class="left-chapscroll">
         <audio controls class="narration" id="audio_1" onended="playAudio(1)">
             <source src=""></source>
         </audio>
         <h2>一位学者</h2>
             <p> 19世纪末20世纪初，由于西方文化的涌入，中国的传统文化体系受到了巨大的冲击。梁思成先生就成长于这样的历史环境下，其父亲——著名学者梁启超先生，正是那一代探索中国文化发展的学者代表。梁启超先生始终坚持“中学为体，西学为用”，强调中西文化的融会贯通。</p>
         </div>
         <div class="scroll-img">
             <img class="scene-anime hideme" src ="dist/img/scene/scene2/图16.梁启超.png"></img>
             <img class="scene-img" src ="dist/img/scene/scene2/图17.“中学为体，西学为用”合同.jpg"></img>
         </div>
 </li>
<!--- ++++++++++++++++++++++++++++++++++ number 5 ++++++++++++++++++++++++++++++++++++++++++++  -->
<li class="scroll-each hori-scroll hideme">
    <div class="left-chapscroll">
        <audio controls class="narration" id="audio_1" onended="playAudio(1)">
            <source src=""></source>
        </audio>
        <h2>一本书</h2>
            <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
        </div>
        <div class="scroll-img">
            <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
            <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
            <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
            <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
        </div>
</li>
<!--- ++++++++++++++++++++++++++++++++++ number 6 ++++++++++++++++++++++++++++++++++++++++++++  -->
   <li class="scroll-each hori-scroll hideme">
       <div class="left-chapscroll">
           <audio controls class="narration" id="audio_1" onended="playAudio(1)">
               <source src=""></source>
           </audio>
           <h2>一本书</h2>
               <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
           </div>
           <div class="scroll-img">
               <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
               <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
               <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
               <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
           </div>
</li>
<!--- ++++++++++++++++++++++++++++++++++ number 7 ++++++++++++++++++++++++++++++++++++++++++++  -->
  <li class="scroll-each hori-scroll hideme">
      <div class="left-chapscroll">
          <audio controls class="narration" id="audio_1" onended="playAudio(1)">
              <source src=""></source>
          </audio>
          <h2>一本书</h2>
              <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
          </div>
          <div class="scroll-img">
              <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
          </div>
  </li>
<!--- ++++++++++++++++++++++++++++++++++ number 8 ++++++++++++++++++++++++++++++++++++++++++++  -->
 <li class="scroll-each hori-scroll hideme">
     <div class="left-chapscroll">
         <audio controls class="narration" id="audio_1" onended="playAudio(1)">
             <source src=""></source>
         </audio>
         <h2>一本书</h2>
             <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
         </div>
         <div class="scroll-img">
             <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
             <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
             <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
             <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
         </div>
 </li>
 <!--- ++++++++++++++++++++++++++++++++++ number 9 ++++++++++++++++++++++++++++++++++++++++++++  -->
    <li class="scroll-each hori-scroll hideme">
        <div class="left-chapscroll">
            <audio controls class="narration" id="audio_1" onended="playAudio(1)">
                <source src=""></source>
            </audio>
            <h2>一本书</h2>
                <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
            </div>
            <div class="scroll-img">
                <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
                <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
                <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
                <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
            </div>
    </li>
<!--- ++++++++++++++++++++++++++++++++++ number 10 ++++++++++++++++++++++++++++++++++++++++++++  -->
   <li class="scroll-each hori-scroll hideme">
       <div class="left-chapscroll">
           <audio controls class="narration" id="audio_1" onended="playAudio(1)">
               <source src=""></source>
           </audio>
           <h2>一本书</h2>
               <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
           </div>
           <div class="scroll-img">
               <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
               <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
               <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
               <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
           </div>
   </li>
<!--- ++++++++++++++++++++++++++++++++++ number 11 ++++++++++++++++++++++++++++++++++++++++++++  -->
  <li class="scroll-each hori-scroll hideme">
      <div class="left-chapscroll">
          <audio controls class="narration" id="audio_1" onended="playAudio(1)">
              <source src=""></source>
          </audio>
          <h2>一本书</h2>
              <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
          </div>
          <div class="scroll-img">
              <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
          </div>
  </li>
<!--- ++++++++++++++++++++++++++++++++++ number 12 ++++++++++++++++++++++++++++++++++++++++++++  -->
 <li class="scroll-each hori-scroll hideme">
     <div class="left-chapscroll">
         <audio controls class="narration" id="audio_1" onended="playAudio(1)">
             <source src=""></source>
         </audio>
         <h2>一本书</h2>
             <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
         </div>
         <div class="scroll-img">
             <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
             <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
             <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
             <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
         </div>
 </li>
 <!--- ++++++++++++++++++++++++++++++++++ number 13 ++++++++++++++++++++++++++++++++++++++++++++  -->
    <li class="scroll-each hori-scroll hideme">
        <div class="left-chapscroll">
            <audio controls class="narration" id="audio_1" onended="playAudio(1)">
                <source src=""></source>
            </audio>
            <h2>一本书</h2>
                <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
            </div>
            <div class="scroll-img">
                <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
                <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
                <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
                <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
            </div>
    </li>
<!--- ++++++++++++++++++++++++++++++++++ number 14 ++++++++++++++++++++++++++++++++++++++++++++  -->
   <li class="scroll-each hori-scroll hideme">
       <div class="left-chapscroll">
           <audio controls class="narration" id="audio_1" onended="playAudio(1)">
               <source src=""></source>
           </audio>
           <h2>一本书</h2>
               <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
           </div>
           <div class="scroll-img">
               <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
               <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
               <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
               <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
           </div>
   </li>
<!--- ++++++++++++++++++++++++++++++++++ number 15 ++++++++++++++++++++++++++++++++++++++++++++  -->
  <li class="scroll-each hori-scroll hideme">
      <div class="left-chapscroll">
          <audio controls class="narration" id="audio_1" onended="playAudio(1)">
              <source src=""></source>
          </audio>
          <h2>一本书</h2>
              <p> 《营造法式》是宋崇宁二年，由北宋官方颁布的一部建筑设计、施工的规范书，是时任将作监的李诫奉敕修编的。李诫在两浙工匠喻皓所著《木经》的基础上进行编纂，成书于元符三年。《营造法式》是我国古代最完整的建筑技术书籍，标志着中国古代建筑已经发展到了较为成熟的阶段.</p>
          </div>
          <div class="scroll-img">
              <img class="scene-img" src ="dist/img/scene/scene2/图4.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图5.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图6.jpg"></img>
              <img class="scene-img" src ="dist/img/scene/scene2/图7.jpg"></img>
          </div>
  </li>

    <!-- next chapter link -->
    <a href ="#/tab/chap3">
    <div class="next-chap">
        <ul>
        <li><p>下一章</p>
        <h4>環繞東大殿</h4></li>
        <li><div class="arrow-right"></div></li>
    </ul>
</div></a>
  </ul>
</section>
<script>
// //// auto play audio //////
var count = 0;
var audios = new Array();
audios = document.getElementsByTagName('audio');

function playAudio(direction){
  console.log("play audio function called!");
  //this is the function that handles autoplay
  var nextAudio, currentAudio, previousAudio;

  currentAudio = document.getElementById('audio_' + count);

  if (count<16) {
    nextAudio = document.getElementById('audio_' + (count + 1));
  }
  if (count>0) {
    previousAudio = document.getElementById('audio_' + (count - 1));
  }

  if (direction>0) {
    for (var i = 0; i < audios.length; i++) {
      if (i != (count+1) && i!=16) {
        audios[i].pause();
      }
    }
    nextAudio.load();nextAudio.play();
  }else {
    for (var i = 0; i < audios.length; i++) {
      if (i != (count-1)&&i!=16) {
        audios[i].pause();
      }
    }
    previousAudio.load();previousAudio.play();
  }
  if (count < 15) {
    count++;
  }else {
    count = 0;
  }
}

//////  resize images /////
var sceneImg = $(".scene-img"),
    containerW = $(".left-chapscroll").width(),
    imageContainer = $(".scroll-img");
    originWidth = $(imageContainer).find("img").width();
    originHeight = $(imageContainer).find("img").height();

    $.each(imageContainer, function(){
        imageNum = $(this).find(".scene-img").size();
        imageWidth = containerW / imageNum;
        if(originWidth > originHeight ){
        $(".scene-img").css({
            "width": imageWidth,
            "height":'auto',
            "max-height":imageWidth,
        });
        }
        else {
            $(".scene-img").css({
                "width": imageWidth,
                "height":'auto',
            });
        }
    });

    console.log(imageNum);

    console.log("scene image");

</script>

  </div>
</div>
