i {
width: 30px;
  height: 30px;
  text-align: center;
  display: block;
}

.icon-size-80 {
    width:80px;
    height:80px;
}

.icon-size-70 {
    width:70px;
    height:70px;
}

.icon-size-60 {
    width:60px;
    height:60px;
}

.icon-size-50 {
    width:50px;
    height:50px;
}

.icon-size-40 {
    width:40px;
    height:40px;
}

.icon-size-20 {
    width:20px;
    height:20px;
}

.icon1 {
    background-image: url("../../img/UI/icons/icon1.svg");
    background-position: center center;
}
.icon2 {
    background-image: url("../../img/UI/icons/icon2.svg");
    background-position: center center;
}
.icon3 {
    background-image: url("../../img/UI/icons/icon3.svg");
    background-position: center center;
}
.icon-sun {
    background-image: url("../../img/UI/icons/icon-sun.svg");
    background-position: center center;
}
.icon-flower {
    background-image: url("../../img/UI/icons/icon-flower.svg");
    background-position: center center;
}
.icon-leave {
    background-image: url("../../img/UI/icons/icon-leave.svg");
    background-position: center center;
}
.icon-eye1 {
    background-image: url("../../img/UI/icons/icon-eye1.svg");
    background-position: center center;
}
.icon-eye2 {
    background-image: url("../../img/UI/icons/icon-eye2.svg");
    background-position: center center;
}
.icon-east {
    background-image: url("../../img/UI/icons/icon-east.svg");
    background-position: center center;
}
.icon-east2 {
    background-image: url("../../img/UI/icons/icon-east2.svg");
    background-position: center center;
}
.icon-pillar {
    background-image: url("../../img/UI/icons/icon-pillar.svg");
    background-position: center center;
}
.icon-pillar2 {
    background-image: url("../../img/UI/icons/icon-pillar2.svg");
    background-position: center center;
}
.icon-tower {
    background-image: url("../../img/UI/icons/icon-tower.svg");
    background-position: center center;
}
.icon-tower2 {
    background-image: url("../../img/UI/icons/icon-tower2.svg");
    background-position: center center;
}
.icon-next {
    background-image: url("../../img/UI/icons/icon-next.svg");
    background-position: center center;
}
