.timeline-width {
    width:2800px;
    position: relative;
}
.timeline-part1{
    position: absolute;
    margin-top: -46vh;
}
.timeline-page{
  width:auto;
  overflow-x: visible;
}
.timeline-list{
  margin-left: 918px;
}
.timeline-each {
    position:relative;
    display:none;
  width:300px;
  height:50vh;
  margin:auto 50px 200px 50px;
  padding:70px;
  border: 13px solid transparent;
    padding: 35px;
    -webkit-border-image: url(../../img/UI/border1.svg) 35 round; /* Safari 3.1-5 */
    -o-border-image: url(../../img/UI/border1.svg) 35 round; /* Opera 11-12.1 */
    border-image: url(../../img/UI/border1.svg) 35 round;
  overflow: hidden;
  h4, h5{
      color:$color-orange;
      margin:0px;
  }
  h2, h3, p{
    color:$color-paper;
  }
  h2{
      margin-top: 0px;
  }
}
.timeline-cover{
  height:auto;
  // background-image: url("../../img/layout/time-bg.png");
  z-index: 1000;
// box-shadow: inset 0 0 2em 2em rgba(255,255,255,.9);
}

.timeline_descp{
  max-height: 300px;
  overflow-y: hidden;
}

.time-img{
  max-width: 100%;
  height:auto;
}

.timeline-line {
  width: 1400px;
  height:4px;
  border-bottom: 3px double $color-orange;
  margin-top:45vh;
  margin-bottom: 65px;
}

.timeline-node {
  width:26px;
  height:26px;
  background: url("../../img/UI/icons/icon1.svg");
  border-radius: 50%;
  position: absolute;
  margin-top:-10px;
 .node-year{
      margin-top:-30px;
      line-height: 1.2em;
      width: 70px;
     text-align: left;
  }
  .node-title {
      margin-top: 50px;
  }
  .node-line {
    opacity:0;
    background: url("../../img/UI/icons/icon-branch.svg");
    height: 50px;
    width: 40px;
    margin-left: 11px;
    margin-top: 53px;
  }
  p{
     color:$color-paper;
  }
  h4{
    color:$color-orange;
  }
}

// the auto play button
#chap1_start {
    color:$color-paper;
    position: absolute;
    left: 93vw;
    top: 30px;
    z-index: 999;
}

.all-active {
opacity:1 !important;
  border-color: $color-red !important;
  box-shadow: 2px 4px 10px #A5A5A5;
  -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
  opacity:1 !important;
  img {
    opacity:1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    max-width: 100%;
    width:100%;
  }

}
.activenode {
   background: url("../../img/UI/icons/icon-sun.svg");
  width:50px;
  height:50px;
}
.active-timeline{
    height:55vh;
    max-height:90vh;
    max-width: 70vw;
    width: 55vw;
    min-width: 40vw;
    width:auto;
    display:inherit;
}

.activecards {
  @extend .all-active;
  height:70vh;
  max-height:470px;
  max-width: 80vw;
  width:auto;
  display:block !important;
}

  .left-timeline{
     width:35%;
    min-width:300px;
    max-width: 50%;
    display: inline-block;
    float:left;
    padding-right:4%;
    height:100%;
    border-right: 1px solid $color-orange;
  }
  .timeline-cover{
    width:50%;
    float:left;
    padding-left: 4%;
    height:auto;

    .timeline-img{
    @extend .vertical-middle-noposition;
      width: 100%;
      height: auto;
    //   opacity:0.4;
    //   -webkit-filter: grayscale(90%);
    //   filter: grayscale(90%);
    //   &:hover {
    //     -webkit-filter: grayscale(30%);
    //     filter: grayscale(30%);
    //     -webkit-transition: 1s -webkit-filter linear;
    //     -moz-transition: 1s -moz-filter linear;
    //     -moz-transition: 1s filter linear;
    //     -ms-transition: 1s -ms-filter linear;
    //     -o-transition: 1s -o-filter linear;
    //     transition: 1s filter linear;
    //   }
    }
  }

.top-10 {
    margin-top:10vh;
}
.top-45 {
    margin-top:45vh;
}

// the map to display the location of the
.temple-location {
    height: 100vh;
    width: 60vw;
    min-width: 600px;
    display:inline-block;
    float: left;
    position:absolute;
    left:290px;
    top:100px;
}
.icon1location {
    position: absolute;
    top: 51vh;
    left: 18vh;
}

#maparial {
    max-width: 54vh;
    top: 8vh;
    left: 12vh;
    position: absolute;
}
