<section class="timeline-page">
    <button id="chap1_start" onclick="playAudio(0)">开始介绍</button>
  <div class ="scene-title">
        <div id="titlebox-top"><img src="img/UI/titlebox-top.png"></div>
        <div class ="scene-title-box title">
          <h3>第一章</h3>
          <h1 class="scene-title-lgword">佛光寺时间简史</h1>
      </div>
      <div id="titlebox-bottom"><img src="img/UI/titlebox-bottom.png"></div>
  </div>

  <div class="temple-location animated fadeInUp">
      <div id="templeicon"><div class="templepointer icon1location bounce"></div></div>
      <div class="image-overlay">
      <img class="achor-link1 first-img" src ="dist/img/scene/scene1/2.png"></img>
      <img class="achor-link1 third-img" id="maparial" src ="dist/img/scene/scene1/templearial.png"></img>
    <img class="second-img" src ="dist/img/scene/scene1/1.png"></img>
  </div>
  </div>

  <ul class="timeline-list content">
    <div class ="timeline-line fade-in">
        <div class="timeline-node" ng-repeat="item in events" style="margin-left:{{item.node}}px" ng-click="selectItem(item)" ng-class="{activenode:item.selected}" onclick="moveup()"><p class="node-year">{{item.date}}年</p>
            <h4 class="node-title">{{item.title}}</h4>
        </div>
    </div>
    <li class="timeline-each hori-scroll" ng-repeat="item in events | orderBy: date" ng-click="selectItem(item)" ng-class="{activecards:item.selected}">
      <!--href="#/details/{{events.indexOf(item)}}" -->
      <div class="left-timeline">
          <div class="audio-player">
          <audio id="audio-player" controls="controls" onended="playAudio(1)">
              <source ng-src="{{item.audio | trustUrl}}"></source>
          </audio>
      </div>
        <h1>{{item.title}}</h1>
        <h3>{{item.era}}</h3>
        <p class="timeline_descp">{{item.description}}
          {{item.description.length > 80 ? '&hellip;': ''}} </p>
      </div>

        <div class="timeline-cover">
        <img class="timeline-img" ng-repeat="img in item.images" ng-src="dist/img/scene/{{img}}" alt="Photo of {{img}}">
        </div>

    </li>
    <a href ="#/tab/chap2">
    <div class="next-chap">
        <ul>
        <li><p>下一章</p>
        <h4>发现佛光寺</h4></li>
        <li><div class="arrow-right"></div></li>
    </ul>
</div></a>
  </ul>

  <audio autoplay="" controls="" loop="" preload="" class="background-mvc">
    <source src="media/scene1/bgm/001.mp3" type="audio/mpeg">
    <source src="media/scene1/bgm/001.ogg" type="audio/ogg">
    <source src="media/scene1/bgm/001.wav" type="audio/wav">
   Your browser does not support the audio element.
  </audio>
<script>
var count = 0;
var audios = document.getElementsByTagName('audio');

function playAudio(direction){
  console.log("play audio function called");
  if (direction>0) {
    if (count<audios.length) {
      count++;
      audios[count].load();audios[count].play();
    }else {
      count=0;
    }
  }else if (direction==0) {
    //init
    audios[0].load();audios[0].play();
  }
}


function moveup() {
    var nodeactive = $('.timeline-node').css('border-width');

    var eachnode = $('.timeline-node').each(function(){
        var vwidth =$('.timeline-node').width();
        if (vwidth > 21) {
            // $('.timeline-line').removeClass('top-10');
            // $('.node-title').fadeIn();
            // console.log('remove');
            nodeactive = 0;
        }

        if (vwidth < 21){
            $('.timeline-line').addClass('top-10');
            $('.node-title').fadeOut();
            console.log('add');
            nodeactive = 0;
        }
    });

}
$('.achor-link1').click(function(event) {
    var pos = $(window).scrollLeft() + 550;
    $('html, body').animate({
              scrollLeft: 550
          }, 800);

});

$("#templeicon").click(function() {
    $(this).fadeToggle("slow");
    $('.second-img').fadeToggle("slow");
    $('.third-img').addClass("animated bounceInRight");
});


</script>
</section>
