<div id="wrapper">
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
              <a ui-sref="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars sidebar-move" id="sidebar-toggle"></i></a>
        </li>
        <li>
            <a ui-sref=".timeline" name="timeline-tab"><div class="chap-title">第一章</div></a>
        </li>
        <li>
            <a ui-sref=".chap2" name="chap2-tab"><div class="chap-title">第二章</div></a>
        </li>
        <li>
            <a href="pan_scene6.html"><div class="chap-title">第三章</div></a>
        </li>
        <li>
            <a href="pan_scene1.html"><div class="chap-title">第四章</div></a>
        </li>
        <li>
            <a href="#"><div class="chap-title">第五章</div></a>
        </li>
        <li>
            <a href="#"><div class="chap-title">地圖</div></a>
        </li>
    </ul>
</div>
<div ui-view></div>
</div>
