@charset "UTF-8";
input[type=range] {
  width: 300px; }

ul[rn-carousel] {
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  position: relative;
  perspective: 1000px;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }
  ul[rn-carousel] > li {
    color: black;
    backface-visibility: hidden;
    overflow: visible;
    vertical-align: top;
    position: absolute;
    left: 0;
    right: 0;
    white-space: normal;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: inline-block; }

/* prevent flickering when moving buffer */
ul[rn-carousel-buffered] > li {
  display: none; }

ul[rn-carousel-transition="hexagon"] {
  overflow: visible; }

/* indicators */
div.rn-carousel-indicator span {
  cursor: pointer;
  color: #666; }
  div.rn-carousel-indicator span.active {
    color: white; }

/* prev/next controls */
.rn-carousel-control {
  transition: opacity 0.2s ease-out;
  font-size: 2rem;
  position: absolute;
  top: 40%;
  opacity: 0.75;
  cursor: pointer; }
  .rn-carousel-control:hover {
    opacity: 1; }
  .rn-carousel-control.rn-carousel-control-prev {
    left: 0.5em; }
    .rn-carousel-control.rn-carousel-control-prev:before {
      content: "<"; }
  .rn-carousel-control.rn-carousel-control-next {
    right: 0.5em; }
    .rn-carousel-control.rn-carousel-control-next:before {
      content: ">"; }

.vertical-middle, .scene-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

html {
  background-color: #EEE2CF; }

body {
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll; }

body::after {
  content: "";
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

a {
  text-decoration: none; }

.hori-scroll {
  display: inline-block; }

.black-bg {
  background-color: rgba(0, 0, 0, 0.4); }

#texture {
  background: url("../../img/layout/slide-bg1.png");
  height: 100vh;
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none; }

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'titleFont';
  src: local("yuweif.woff"), url("../../source/font/yuweif.woff"); }

@font-face {
  font-family: 'chnFont1';
  src: local("FZQKBYSJW.TTF"), url("../../source/font/FZQKBYSJW.TTF"); }

h1, h2 {
  font-family: 'chnFont1', Helvetica, Arial, sans-serif; }

p, li, button {
  font-family: 'chnFont1',times;
  font-weight: normal;
  font-size: 12pt; }

h3, h4, h5 {
  font-family: 'chnFont1',Helvetica;
  font-weight: 700;
  font-size: 1.6em; }

/* all chapters introduction page */
.main-intro {
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-height: 50%;
  display: block; }
  .main-intro button {
    height: 60px;
    position: absolute;
    margin: auto;
    top: 40vh;
    left: 45%;
    right: 50%;
    bottom: 0;
    color: #EEE2CF; }

.sunrise-intro {
  top: 50%;
  left: 24%;
  width: auto;
  height: auto;
  max-width: 25%;
  min-width: 260px;
  min-height: 45%;
  text-align: center;
  line-height: 2.0em;
  position: fixed;
  color: #EEE2CF;
  padding: 50px;
  position: fixed;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 90000; }
  .sunrise-intro button {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    color: #EEE2CF;
    margin-left: -75px; }

button, btn {
  background: url(../../img/UI/button_light.png) no-repeat;
  background-position: -30px 5px;
  width: 166px;
  height: 60px;
  border: none;
  min-height: 50px;
  min-width: 90px;
  font-size: 20px;
  color: #EEE2CF;
  text-indent: 0.5rem;
  text-decoration: none; }

.intro-text {
  padding: 20px 20px 0 30px;
  max-width: 600px;
  color: white;
  position: relative; }
  .intro-text p {
    min-width: 300px !important; }

.line {
  margin-left: 100%;
  overflow: hidden;
  height: 30px; }

.logo {
  background: url(img/logo/logos-04.svg) no-repeat top left;
  background-size: contain;
  width: 300px;
  height: 150px; }

.logo-property {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 550px;
  height: 230px;
  max-width: 670px;
  display: block; }

.no-svg .main-header {
  background-image: url(img/logo/logos-04.svg.png); }

.scene-title {
  width: 200px;
  min-width: 100px;
  height: 77vh;
  top: 50vh;
  left: 100px;
  display: inline-block;
  position: absolute; }

.scene-title-box {
  padding-top: 5px;
  color: #EEE2CF;
  background-image: url(../../img/layout/title-bg.png);
  left: 24%;
  width: 100px;
  height: auto;
  max-width: 55%;
  min-height: 80%;
  text-align: center; }

#titlebox-top, #titlebox-bottom {
  width: 100px;
  height: 80px; }

#titlebox-bottom {
  margin-top: -34px; }

.scene-title-lgword {
  letter-spacing: 16px;
  font-size: 2.5em;
  top: 50%;
  text-align: center;
  color: #F3F8F1;
  padding-left: 8px; }

.scene-sub-title {
  width: 60px;
  height: 90vh;
  bottom: 10vh;
  letter-spacing: 16px;
  margin-left: 50px;
  text-align: center;
  overflow: hidden; }
  .scene-sub-title .sub-title-line {
    height: auto;
    width: 40%;
    min-height: 90px;
    border-right: 2px solid #606060; }
  .scene-sub-title h1 {
    font-size: 2.2em; }

.background-mvc {
  opacity: 0.3;
  width: 45px;
  padding-left: 20px;
  position: absolute;
  left: 100px; }

.next-chap {
  float: right;
  top: 0;
  width: 160px;
  padding: 40px;
  height: auto; }
  .next-chap h4 {
    margin-top: -15px; }
  .next-chap .arrow-right {
    width: 20px;
    height: 1px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #76664D; }
  .next-chap ul {
    list-style: none; }
  .next-chap li {
    display: inline; }

.bg-responsive {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }

.red {
  color: #9D2932;
  display: inline;
  line-height: 34px; }

audio {
  z-index: 99999; }

#arrows {
  top: 40px;
  left: 40px;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 99999; }

#arrows .arrowpointer {
  background-color: #F3F8F1;
  -webkit-mask-image: url(../../img/UI/arrow-link.svg);
  mask-image: url(../../img/UI/arrow-link.svg);
  height: 100%;
  width: 100%; }

.scrollable {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }

.scrollable-content {
  box-sizing: border-box;
  min-height: 100%; }

/* Enable the Classes below to have scrollbars not overlap the content */
/*
.scrollable-content.scrollable-right {
    margin-right: 15px;
}

.scrollable-content.scrollable-top {
    margin-top: 15px;
}

.scrollable-content.scrollable-left {
    margin-left: 15px;
}

.scrollable-content.scrollable-bottom {
    margin-bottom: 15px;
}
*/
/* if any element is fixed and displayed at full window size, this rule becomes handy */
.fullwindow .scrollable-content {
  transform: none !important; }

.scrollable .scrollable-content,
.scrollable .scrollable-slider {
  -webkit-transition: background-color .2s linear, opacity .2s linear, -webkit-transform .2s ease-out;
  -moz-transition: background-color .2s linear, opacity .2s linear, -moz-transform .2s ease-out;
  -ms-transition: background-color .2s linear, opacity .2s linear, -ms-transform .2s ease-out;
  -o-transition: background-color .2s linear, opacity .2s linear, -o-transform .2s ease-out;
  transition: background-color .2s linear, opacity .2s linear, transform .2s ease-out; }

.scrollable.active .scrollable-content,
.scrollable.active .scrollable-slider {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.scrollable .scrollable-bar {
  position: absolute;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: 0;
  background-color: #f0f0f0;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid transparent; }

.scrollable:hover .scrollable-bar {
  opacity: 0.6; }

.scrollable .scrollable-bar:hover {
  opacity: 1; }

.scrollable.active .scrollable-bar {
  opacity: 1; }

.scrollable .scrollable-slider {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ccc;
  background-image: linear-gradient(to right, #ccc, #ddd);
  border: 1px solid #333;
  border: 1px solid rgba(0, 0, 0, 0.5); }

.scrollable .scrollable-bar-x .scrollable-slider {
  height: 8px; }

.scrollable .scrollable-bar-y .scrollable-slider {
  width: 8px; }

#wrapper {
  top: 0px;
  padding-left: 50px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/*the content next to sidebar */
#wrapper.toggled {
  padding-left: 150px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 150px;
  width: 40px;
  height: 110vh;
  margin-left: -150px;
  /* position of the side bar */
  overflow-y: auto;
  background: #424B50;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 150px;
  /*the width of the side bar */ }

/*#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}*/
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -300px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  margin-left: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  font-size: 25px;
  line-height: 40px;
  line-height: 80px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #050505; }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.sidebar-move {
  margin-left: -33px; }

/*@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 50px;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 50px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 50px;
    }
}*/
.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left; }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      display: block;
      max-width: 100%;
      height: auto;
      line-height: 1; }
    @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-inner > .item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        -moz-transition: -moz-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        perspective: 1000px; }
        .carousel-inner > .item.next, .carousel-inner > .item.active.right {
          -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
          left: 0; }
        .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
          left: 0; }
        .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          left: 0; } }
  .carousel-inner > .active,
  .carousel-inner > .next,
  .carousel-inner > .prev {
    display: block; }
  .carousel-inner > .active {
    left: 0; }
  .carousel-inner > .next,
  .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%; }
  .carousel-inner > .next {
    left: 100%; }
  .carousel-inner > .prev {
    left: -100%; }
  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
    left: 0; }
  .carousel-inner > .active.left {
    left: -100%; }
  .carousel-inner > .active.right {
    left: 100%; }

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: transparent; }
  .carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }
  .carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }
  .carousel-control:hover, .carousel-control:focus {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block; }
  .carousel-control .icon-prev,
  .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px; }
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px; }
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif; }
  .carousel-control .icon-prev:before {
    content: '\2039'; }
  .carousel-control .icon-next:before {
    content: '\203a'; }

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center; }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent; }
  .carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #fff; }

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  .carousel-caption .btn {
    text-shadow: none; }

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px; }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px; }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px; }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px; }
  .carousel-indicators {
    bottom: 20px; } }

@keyframes slidy {
  0% {
    left: 0%; }
  20% {
    left: 0%; }
  25% {
    left: -100%; }
  45% {
    left: -100%; }
  50% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -300%; }
  95% {
    left: -300%; }
  100% {
    left: -400%; } }

body {
  margin: 0; }

div#slider {
  overflow: hidden; }

div#slider figure img {
  width: 20%;
  float: left; }

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; }

.image-container {
  width: auto;
  max-width: 50%;
  height: auto;
  max-height: 30%; }

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
  opacity: 1; }

.backgroundaudio {
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out; }

.timeline-page {
  width: auto;
  overflow-x: visible; }

.timeline-list {
  margin-left: 150px; }

.timeline-each {
  opacity: 0;
  width: 300px;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.4);
  margin: auto 50px 200px 50px;
  padding: 70px;
  border: 30px solid transparent;
  padding: 35px;
  -webkit-border-image: url(../../img/UI/border.png) 35 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../../img/UI/border.png) 35 round;
  /* Opera 11-12.1 */
  border-image: url(../../img/UI/border.png) 35 round;
  overflow: hidden; }
  .timeline-each h2, .timeline-each h3, .timeline-each p {
    color: #050505; }

.timeline-cover {
  height: auto;
  z-index: 1000; }

.left-timeline {
  margin-top: -20px; }

.timeline_descp {
  max-height: 300px;
  overflow-y: hidden; }

.timeline-img {
  width: 80%;
  max-width: 80%;
  height: auto;
  opacity: 0.4;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); }
  .timeline-img:hover {
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
    -webkit-transition: 1s -webkit-filter linear;
    -moz-transition: 1s -moz-filter linear;
    -moz-transition: 1s filter linear;
    -ms-transition: 1s -ms-filter linear;
    -o-transition: 1s -o-filter linear;
    transition: 1s filter linear; }

.time-img {
  max-width: 100%;
  height: auto; }

.timeline-line {
  width: 86%;
  height: 4px;
  border-bottom: 3px double #424B50;
  margin-top: 45vh;
  margin-left: 50px;
  margin-bottom: 65px; }

.timeline-node {
  width: 20px;
  height: 20px;
  background-color: #76664D;
  border: 2px solid #EEE2CF;
  border-radius: 50%;
  position: absolute;
  margin-top: -10px; }
  .timeline-node p {
    margin-top: -50px;
    line-height: 1.2em;
    text-align: center; }

#chap1_start {
  color: #EEE2CF;
  position: absolute;
  left: 270px;
  top: 0px;
  z-index: 999; }

.all-active, .activenode, .activecards, .activechap {
  opacity: 1 !important;
  border-color: #9D2932 !important;
  box-shadow: 2px 4px 10px #A5A5A5;
  -webkit-transition: 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
  opacity: 1 !important; }
  .all-active img, .activenode img, .activecards img, .activechap img {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    max-width: 100%;
    width: 100%; }

.activenode {
  background-color: #9D2932;
  width: 24px;
  height: 24px; }

.active-timeline {
  margin-top: 10vh;
  height: 70vh;
  max-height: 90vh;
  max-width: 80vw;
  width: auto; }

.activecards {
  height: 70vh;
  max-height: 90vh;
  max-width: 80vw;
  width: auto; }
  .activecards .left-timeline {
    width: 250px;
    max-width: 35%;
    width: 35%;
    display: inline-block;
    float: left;
    padding-right: 3%; }
  .activecards .timeline-cover {
    width: 55%;
    max-width: 55%;
    float: left;
    padding-left: 5%;
    margin-top: 50px;
    opacity: 1; }
  .activecards .timeline_descp {
    max-height: 100%; }

.top-10 {
  margin-top: 10vh; }

.top-45 {
  margin-top: 45vh; }

.scroll-page {
  width: 11700px;
  overflow-x: visible; }

.scroll-list {
  margin-left: 150px;
  height: 100vh;
  margin-left: 13px; }

#chap2_start {
  float: left;
  color: #EEE2CF;
  position: fixed;
  z-index: 9999; }

.timelineborder {
  border: 15px solid transparent;
  -webkit-border-image: url(../../img/UI/border.png) 25 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../../img/UI/border.png) 25 round;
  /* Opera 11-12.1 */
  border-image: url(../../img/UI/border.png) 25 round;
  overflow: hidden; }

.imageborder {
  border: 10px solid transparent;
  -webkit-border-image: url(../../img/UI/border.png) 25 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../../img/UI/border.png) 25 round;
  /* Opera 11-12.1 */
  border-image: url(../../img/UI/border.png) 25 round;
  overflow: hidden; }

.scroll-each, .wide-scroll {
  max-width: 450px;
  width: 340px;
  min-width: 270px;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto 40px auto 40px;
  padding: 40px;
  overflow: hidden;
  z-index: 999; }

.wide-scroll {
  width: auto;
  max-width: 90vw; }

.chap-cover {
  width: 100%;
  max-width: 100%;
  float: left;
  padding-left: 5%;
  opacity: 1; }

.scroll-img {
  float: right; }

.scene-img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%); }
  .scene-img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: 1s -webkit-filter linear;
    -moz-transition: 1s -moz-filter linear;
    -moz-transition: 1s filter linear;
    -ms-transition: 1s -ms-filter linear;
    -o-transition: 1s -o-filter linear;
    transition: 1s filter linear; }

.image-full {
  width: 125% !important;
  height: auto;
  margin-left: -40px; }

.image-fit {
  width: 90%;
  height: auto; }

.image-overlay img:first-child {
  position: absolute; }

.image-overlay img:nth-child(2) {
  opacity: 1;
  position: absolute; }

.scene-anime {
  height: 40vh;
  width: auto;
  position: absolute;
  z-index: 9999;
  margin-left: -16%;
  bottom: 0px; }

.scene-within {
  width: 100%;
  height: auto; }

.chap-first-content {
  background-color: rgba(255, 255, 255, 0);
  width: 120%; }
  .chap-first-content .paragraph {
    width: 80%;
    height: auto;
    max-height: 60%;
    padding: 10%;
    background-color: rgba(255, 255, 255, 0.2); }
    .chap-first-content .paragraph p {
      line-height: 200%; }

.activechap {
  min-width: 80vw; }
  .activechap .left-chapscroll {
    max-width: 44%;
    width: 40%;
    display: inline-block;
    float: left;
    padding-right: 3%; }

.left-chapscroll-two {
  display: inline-block;
  float: left;
  max-width: 40%;
  width: auto;
  padding: 0px 5% 0px 5%; }

.left-chapscroll-three {
  display: inline-block;
  float: left;
  max-width: 35%;
  width: 33%;
  padding: 0px 20px 0px 20px; }

.mrLiang1 {
  height: 90vh;
  width: auto;
  bottom: 0;
  margin-left: -130px; }

.circle {
  height: 40vh;
  width: auto;
  position: absolute;
  z-index: 9999;
  margin-left: 15%;
  margin-top: -5%; }

.scrollTexture {
  color: #EEE2CF;
  background-color: #050505; }

.hideme {
  opacity: 0; }

.delay-show {
  opacity: 0.1; }

.hideme:first-child {
  opacity: 1; }

.hideme:nth-child(2) {
  opacity: 0.5; }

.hideme:nth-child(3) {
  opacity: 0.2; }

.darkbg {
  background-color: rgba(0, 0, 0, 0.5);
  color: white; }

.lightbg {
  background-color: white;
  color: #050505; }

.delayfadein {
  opacity: 0.001;
  transition: opacity 5.5s 5.5s;
  -moz-transition: opacity 5.5s 5.5s;
  -webkit-transition: opacity 5.5s 5.5s;
  -o-transition: opacity 5.5s 5.5s;
  -ms-transition: opacity 5.5s 5.5s;
  -khtml-transition: opacity 5.5s 5.5s; }

.drop-shadow {
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.7)); }

/*    */
/*  the delay animation
/*  */
.css-delay {
  -webkit-transition-delay: 2s;
  /* Safari */
  transition-delay: 2s; }

/*    */
/*  the fading animation
/*  */
.fade-in {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */ }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*    */
/*  the slide up animation
/*  */
.slide-up {
  animation: slideup 2s;
  -moz-animation: slideup 2s;
  /* Firefox */
  -webkit-animation: slideup 2s;
  /* Safari and Chrome */
  -o-animation: slideup 2s;
  /* Opera */ }

@keyframes slideup {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes slideup {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slideup {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes slideup {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*    */
/*  //display one word at a time
/*  */
.hide {
  display: none; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.fade-in.logo {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.fade-in.start {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s; }

.fade-in.title {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.fade-in.content {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

@keyframes blink {
  0% {
    -webkit-filter: drop-shadow(5px 5px 30px #fff5cc);
    filter: drop-shadow(5px 5px 30px #fff5cc); }
  50% {
    -webkit-filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.9)); }
  100% {
    -webkit-filter: drop-shadow(5px 5px 30px #fff5cc);
    filter: drop-shadow(5px 5px 30px #fff5cc); } }

@-webkit-keyframes blink {
  0% {
    -webkit-filter: drop-shadow(5px 5px 30px #fff5cc);
    filter: drop-shadow(5px 5px 30px #fff5cc); }
  50% {
    -webkit-filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.9)); }
  100% {
    -webkit-filter: drop-shadow(5px 5px 10px #fff5cc);
    filter: drop-shadow(5px 5px 30px #fff5cc); } }

.blink {
  -webkit-animation: blink 5.0s linear infinite;
  -moz-animation: blink 5.0s linear infinite;
  -ms-animation: blink 5.0s linear infinite;
  -o-animation: blink 5.0s linear infinite;
  animation: blink 5.0s linear infinite; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html, button, input, select, textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
  z-index: 20000;
  opacity: 0; }

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20000; }

.landscape {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 0.8;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: black;
  background-size: cover; }

.observe-pos {
  position: absolute;
  float: right;
  margin-bottom: 13vh;
  margin-left: 48vw;
  z-index: 9000;
  font-size: 100%; }

.st2 {
  fill: url(#XMLID_2_); }

.tube {
  position: absolute;
  -webkit-transform-origin: 50% 870%;
  transform-origin: 50% 870%;
  margin: 0 auto;
  width: 4%;
  height: 1%;
  padding-bottom: 1.5%;
  top: 40.7%;
  left: 76.1%;
  background-image: -webkit-gradient(linear, left top, right top, from(#777), color-stop(15%, #999), color-stop(30%, #a0a0a0), color-stop(50%, #aaa), color-stop(70%, #a0a0a0), color-stop(85%, #999), to(#777));
  background-image: -webkit-linear-gradient(left, #777, #999 15%, #a0a0a0 30%, #aaa 50%, #a0a0a0 70%, #999 85%, #777);
  background-image: linear-gradient(to right, #777, #999 15%, #a0a0a0 30%, #aaa 50%, #a0a0a0 70%, #999 85%, #777);
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: rotateZ(30deg) rotateX(-20deg) translateY(210%);
  transform: rotateZ(30deg) rotateX(-20deg) translateY(210%); }

.tube::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#777), color-stop(15%, #999), color-stop(30%, #a0a0a0), color-stop(50%, #aaa), color-stop(70%, #a0a0a0), color-stop(85%, #999), to(#777));
  background-image: -webkit-linear-gradient(left, #777, #999 15%, #a0a0a0 30%, #aaa 50%, #a0a0a0 70%, #999 85%, #777);
  background-image: linear-gradient(to right, #777, #999 15%, #a0a0a0 30%, #aaa 50%, #a0a0a0 70%, #999 85%, #777); }

.tube::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#777), color-stop(15%, #999), color-stop(30%, #a0a0a0), color-stop(50%, #aaa), color-stop(70%, #a0a0a0), color-stop(85%, #999), to(#777));
  background-image: -webkit-linear-gradient(left, #777, #999 15%, #a0a0a0 30%, #aaa 50%, #a0a0a0 70%, #999 85%, #777);
  background-image: linear-gradient(to right, #777, #999 15%, #a0a0a0 30%, #aaa 50%, #a0a0a0 70%, #999 85%, #777); }

.passage-audio {
  height: 2em; }

#passage-audio {
  width: 100%;
  max-height: 2em; }

#passage-text.speaking {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.autofocus-current-word,
.playback-rate {
  font-size: smaller; }

.autofocus-current-word label,
.playback-rate label {
  font-weight: bold; }

q {
  quotes: "“" "”" "‘" "’"; }

.section-heading {
  display: none; }

.passage p {
  line-height: 1.4em; }

.verse-start {
  line-height: 0; }

.initialized span[data-begin]:focus,
.initialized span[data-begin]:hover {
  background-color: #FFFFCA;
  box-shadow: 0px 0px 4px #FFFFCA; }

.initialized span[data-begin].speaking {
  background-color: yellow;
  box-shadow: 0px 0px 4px yellow; }

.initialized span[data-begin] {
  cursor: pointer; }

.error {
  color: red; }

@media screen and (min-width: 1024px) {
  p {
    font-size: 16px;
    line-height: 34px; }
  h2 {
    font-size: 2em; } }
