<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Foguang Temple Panorama Scene 4</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				background-color: #ffffff;
				margin: 0px;
				overflow: hidden;
				color: black;

			}

			#info {
				position: absolute;
				top: 0px; width: 100%;
				color: #ffffff;
				padding: 5px;
				font-size:13px;
				font-weight: bold;
				text-align:center;
			}

			#info2 {
				position: absolute;
				top: 40px; width: 100%;
				color: #ffffff;
				padding: 5px;
				font-size:13px;
				font-weight: bold;
				text-align:center;
			}

			a {
				color: #ffffff;
			}


		</style>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/gallery.prefixed.css">
		<link rel="stylesheet" href="css/gallery.theme.css">
		<link rel="stylesheet" href="css/main.css">
		<!-- <link rel="stylesheet" href="css/SSUhtml5audio.css"> -->
	</head>
	<body>

		<div id="container"></div>
		<div id="info">
      <button type="button" class="btn btn-danger" id="changeControls" onclick="toggleControls()">Change Controls</button>
			<button type="button" class="btn btn-danger" id="hotspotbutton" onclick="toggleHotspots()">Show/Hide Hotspots</button>
		</div>
		<div id="info2">
			<button type="button" class="btn btn-info btn-xs" id="songPlayPause" onclick="playPause('bgm1')">Play/Pause</button>
		</div>

		<div id="bgm_section">
			<audio id="bgm1" loop>
				<source src="audio/4/bgm_001.mp3" type="audio/mp3">
				<source src="audio/4/bgm_001.ogg" type="audio/ogg">
				<source src="audio/4/bgm_001.wav" type="audio/wav">
			</audio>
		</div>





		<!--   Modals  -->


		<!-- ================= Modal 4 for hotspot 2  ==================================================== -->
		<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h1 class="modal-title" id="myModalLabel">七朱八白</h1>
					</div>
					<div class="modal-body" align="center">
						<div id="m4_bgm_section">
							<audio id="m4_bgm">
								<source src="audio/6/m4_bgm.mp3" type="audio/mp3">
								<source src="audio/6/m4_bgm.ogg" type="audio/ogg">
								<source src="audio/6/m4_bgm.wav" type="audio/wav">
							</audio>
						</div>

						<div id="modal4_img">
							<img src="img/1/details/m4.gif" height="350px">
						</div>

						<div id="audio4_placeholder">
							<audio id="audio4" controls="controls">
								<source src="audio/1/m4_001.mp3" type="audio/mp3">
								<source src="audio/1/m4_001.ogg" type="audio/ogg">
								<source src="audio/1/m4_001.wav" type="audio/wav">
							</audio>
						</div>

						<div id="m4_text_holder" align="left">
							<p>
								 七朱八白和燕尾彩画是《营造法式》彩画作制度中丹粉刷饰屋舍的一种方法。
								 其中七朱八白就是把阑额的立面之广分为五份至七份，各取居中的一份刷白，
								 然后沿柱间方向均匀地分成八等份。每份之间用朱阑断成七格，两头近柱处不用朱阑断，
								 隔长随白之广。尽端的白色直接与柱相接是《营造法式》提到的“入柱白”，
								 佛光寺保留了这种古老的彩画方式在唐代建筑上的实例。
							</p>
						</div>
					</div>
					<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- ================= End of Modal 4 ========================================================= -->


		<script src="js/three.min.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/SSUhtml5Audio.js"></script>
		<script src="js/threex.domevents_hacked.js"></script>

    <script src="js/DeviceOrientationControls.js"></script>
    <script src="js/OrbitControlsHacked.js"></script>

		<script src="js/scene5/threejs_objs.js"></script>
		<script src="js/scene5/modal_events.js"></script>
	</body>
</html>
