
.timeline-page{
  width:auto;
  overflow-x: visible;
}
.timeline-list{
  margin-left: 150px;
}
.timeline-each {
 opacity:0;
  width:300px;
  height:60vh;
  background-color: rgba(255,255,255,0.4);
  margin:auto 50px 200px 50px;
  padding:70px;
  // border-top: 15px solid $color-brown;
  border: 30px solid transparent;
    padding: 35px;
    -webkit-border-image: url(../../img/UI/border.png) 35 round; /* Safari 3.1-5 */
    -o-border-image: url(../../img/UI/border.png) 35 round; /* Opera 11-12.1 */
    border-image: url(../../img/UI/border.png) 35 round;
  overflow: hidden;

  h2, h3, p{
    color:$color-black;
  }
}
.timeline-cover{
  height:auto;
  // background-image: url("../../img/layout/time-bg.png");
  z-index: 1000;
// box-shadow: inset 0 0 2em 2em rgba(255,255,255,.9);
}
.left-timeline{
  margin-top: -20px;
}
.timeline_descp{
  max-height: 300px;
  overflow-y: hidden;
}
.timeline-img{
  width: 80%;
  max-width: 80%;
  height: auto;
  opacity:0.4;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  &:hover {
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
    -webkit-transition: 1s -webkit-filter linear;
    -moz-transition: 1s -moz-filter linear;
    -moz-transition: 1s filter linear;
    -ms-transition: 1s -ms-filter linear;
    -o-transition: 1s -o-filter linear;
    transition: 1s filter linear;
  }
}

.time-img{
  max-width: 100%;
  height:auto;
}

.timeline-line {
  width: 86%;
  height:4px;
  border-bottom: 3px double $color-blue;
  margin-top:45vh;
  margin-left:50px;
  margin-bottom: 65px;
}

.timeline-node {
  width:20px;
  height:20px;
  background-color:$color-brown;
  border:2px solid $color-paper;
  border-radius: 50%;
  position: absolute;
  margin-top:-10px;
  p{
      margin-top:-50px;
      line-height: 1.2em;
      text-align: center;
  }
}
// the auto play button
#chap1_start {
    color:$color-paper;
    position: absolute;
    left: 270px;
    top: 0px;
    z-index: 999;
}

.all-active {
    opacity:1 !important;
  border-color: $color-red !important;
  box-shadow: 2px 4px 10px #A5A5A5;
  -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
  opacity:1 !important;
  img {
    opacity:1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    max-width: 100%;
    width:100%;
  }

}
.activenode {
  @extend .all-active;
  background-color: $color-red;
  border-width: 4px;
}
.active-timeline{
    margin-top:10vh;
}
.activecards {
  @extend .all-active;
  max-width: 80vw;
  width:80vw;
  .left-timeline{
      width:250px;
    max-width: 35%;
    width:35%;
    display: inline-block;
    float:left;
    padding-right:3%;
  }
  .timeline-cover{
    width:55%;;
    max-width: 55%;
    float:left;
    padding-left: 5%;
    margin-top:50px;
    opacity:1;
  }
  .timeline_descp{
    max-height: 100%;;
  }
}

.top-10 {
    margin-top:10vh;
}
.top-45 {
    margin-top:45vh;
}
