


body {
  background-color: #ffffff;
  margin: 0px;
  overflow: hidden;
  color: black;
  font-family: chnFont1;

}

#info {
  position: absolute;
  top: 0px; width: 100%;
  color: #ffffff;
  padding: 5px;
  font-size:13px;
  font-weight: bold;
  text-align:center;
}

#info2 {
  position: absolute;
  top: 40px; width: 100%;
  color: #ffffff;
  padding: 5px;
  font-size:13px;
  font-weight: bold;
  text-align:center;
}

#menu {
  position: absolute;
  top: 0px; width: 100%; left: -45%;
  color: #ffffff;
  padding: 5px;
  font-size:13px;
  font-weight: bold;
  text-align:center;
}

#setting {
  position:absolute;;
  top: 0px; width: 100%; left: 45%;
  color: #ffffff;
  padding: 5px;
  font-size:13px;
  font-weight: bold;
  text-align:center;
}

#single-img {
  text-align: center;
  align-content: center;
}

#lsc-avatar {
  position: absolute;
  top: 75%; width: 100%; left: 85%;
}

div#speech {
  position: absolute;
  top: 55%; left: 50%;
  width: 400px;
  height: 150px;
  text-align: left;
  /*line-height: 100px;*/
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}


div#speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 305px;
  top: 140px;
  border: 20px solid;
  border-color: rgba(255, 255, 255, 0.8)  rgba(255, 255, 255, 0.8) transparent transparent;
}

a {
  color: #ffffff;
}

.chap-title {
  font-size: 25px;
}


.modal.custom .modal-dialog {
    width:50%;
    /*margin:0 auto;*/
    /*add what you want here*/

    /*top: 100px; left: 20%;*/
    background: transparent;
    background-color: rgba(255, 0, 0, 0.5);
}

/* .modal-transparent */

.modal-transparent {
  background: transparent;
  color: #ffffff;
}
.modal-transparent .modal-content {
  background: transparent;
}
.modal-backdrop.modal-backdrop-transparent {
  background: #000000;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .3;
  filter: alpha(opacity=30);
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 150px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 150px;
    width: 0;
    height: 100%;
    margin-left: -150px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -150px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  margin-left: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  font-size: 25px;
  line-height: 40px;
  line-height: 80px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #050505; }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.sidebar-move {
  margin-left: -33px; }

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


div#lzw {
  display: inline;
  float: left;
  height: 100px;
  position: relative;
  margin-top: -25%;
  z-index: 100;

}

.avatar {
    position: relative;
    z-index: 10;
}

.lzwavatar-dialogue {
  margin-left: 17%;
}
