<section class="scroll-page">
  <div class ="scene-title fade-in title">
    <div class ="scene-title-box">
      <h3>第三章</h3>
      <h1 class="scene-title-lgword">佛光寺｜東大殿</h1>
  </div>
  </div>
  <ul class="scroll-list fade-in content">
      <li class ="hori-scroll scene-sub-title fade-in">
          <div class="sub-title-line"></div>
           <h1>東大殿概述</h1>
      </li>
      <div class="scroll-each hori-scroll hideme">
          <div class="paragraph">
         <p> 佛光寺位于五台山台外南麓佛光山中。
             寺院坐東面西，建築分布在由西向東
             逐層升高的三層台地上。東大殿矗立
             于東端的寺院制高點，向西俯瞰一馬
             平川，視野非常開闊。東大殿殿前有
             經幢一座，刻工精美，與大殿同時建
             造，背後緊鄰山崖，東南側爲北齊祖
             師塔。
         </p></div>
 </div>
    <li class="scroll-each hori-scroll hideme" ng-repeat-start="item in events" ng-click="selectItem(item)" ng-class="{activechap:item.selected}">
        <div class="left-chapscroll">
            <audio controls id="{{item.id}}">
                <source ng-src="{{item.audio | trustUrl}}"></source>
            </audio>
            <h3>{{item.era}}</h3>
            <p>{{item.details | limitTo:letterLimit}} {{item.description.length > 80 ? '&hellip;': ''}}</p>
          </div>

<ul rn-carousel rn-carousel-controls rn-carousel-index="carouselIndex" rn-carousel-buffered class="carousel1">
    <li ng-repeat="img in item.images">
        <div ng-style="{'background-image': 'url(' + slide.img + ')'}"  class="bgimage">
            photo of {{img }}
        </div>
    </li>
</ul>
    </li>
    <li class ="hori-scroll scene-sub-title fade-in hideme" ng-if="$index == 5 || $index == 12|| $index == 13" ng-repeat-end>
         <div class="sub-title-line"></div>
         <h1>{{item.title}}</h1>
    </li>
    <a href ="#/tab/chap2">
    <div class="next-chap">
        <ul>
        <li><p>下一章</p>
        <h4>發現佛光寺</h4></li>
        <li><div class="arrow-right"></div></li>
    </ul>
</div></a>

  </ul>
</section>

  </div>
</div>
