<section>
<div class="modal-header" id="item-detail">
  <a href="#/details/{{prevItem}}" class="btn btn-default">Previous</a>
  <h1>{{events[whichItem].title}}</h1>
  <a href="#/details/{{nextItem}}" class="btn btn-default">Next </a>
</div>
  <div class="modal-body">
  <div class="details">
    <audio autoplay="autoplay" controls="controls" class="audio1_1" ng-src="{{events[whichItem].audio}}" onended="endaudio()">
    </audio>
    <div class="info">
      <h3>{{events[whichItem].description}}</h3>
        <p>{{events[whichItem].details }}</p>
      <img ng-src="img/{{item.images}}" alt="Photo of {{events[whichItem].title}}">

      <!-- <video autoplay="autoplay" controls="controls" class="video1_1" ng-src=" {{events[whichItem].images}}">
      </video> -->

  </div>
  <a href="#/chap2">&laquo; Back </a>

</div>
</div>
</section>
