<style>
.onMapIcon {
  height: 40px;
  width: 40px;
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
}

.onMapIcon:active, .onMapIcon:hover {
  opacity: 1;
}

.inside {
  top: 9%;
  left: 80%;

}

.outside {
  top:10%;
  left:60%;
}


</style>
        <div id="map_container">
          <img class="onMapIcon inside" id="on_map_icon_inside" src="../img/UI/icons/map_icons-01.png">
          <img class="onMapIcon outside" id="on_map_icon_outside" src="../img/UI/icons/map_icons-02.png">

          <img src="../img/map.png" width="100%">
          </img>
        </div>
