#wrapper {
    top:0px;
    padding-left: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*the content next to sidebar */
#wrapper.toggled {
    padding-left: 150px;
}
#menu-toggle {
    position:fixed;
    top:20px;
    z-index:9999;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top:0;
    left: 150px;
    width: 0px;
    height: 110vh;
    margin-left: -150px; /* position of the side bar */
    overflow-y: auto;
    background: $color-black;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px; /*the width of the side bar */

}

/*#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}*/

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin-left: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    font-size: 25px;
    line-height: 40px;
    line-height: 80px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    background: $color-blue;
    color:$color-paper;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    color:$color-paper;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-move {
    margin-left: -33px;
}

.chap-title{
    color:$color-orange;
}
/*@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 50px;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 50px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 50px;
    }
}*/
